/* フォントファイル読み込みのための記述 */
/* @font-face {
  font-family: "main-font";
  src: url("./fonts/file-name.woff") format("woff");
} */

html {
  /* scroll-behavior: smooth; */
}

:root {
  --text_size_ex_large: 50px;
  --text_size_large: 40px;
  --text_size_medium: 35px;
  --text_size_small: 24px;
  --text_size_ex_small: 20px;
}

.header {
  width: 100%;
  top: 30px;
  height: 40px;
  padding: 0px 150px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.header_logo {
}

.menu {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.header_text {
  font-size: var(--text_size_medium);
  font-weight: 600;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.container {
  position: relative;
  margin: 700px 0;
  padding: 100px 100px;
  width: 500px;
  background-color: #731717;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #000;
}

/*スクロールバー*/

.scroll-indicator {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  height: 15px;
  left: 0;
  pointer-events: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.scroll-indicator::-webkit-progress-bar {
  background: transparent;
}

.scroll-indicator::-webkit-progress-value {
  background-image: linear-gradient(
    to bottom right,
    #ffd700 0%,
    #ffd700 8.1%,
    #ffd700 100%
  );
  background-attachment: fixed;
  border-radius: 0.4rem;
}

.scroll-indicator::-moz-progress-bar {
  background-image: linear-gradient(
    to bottom right,
    #ffd700 0%,
    #ffd700 8.1%,
    #ffd700 100%
  );
  background-attachment: fixed;
  border-radius: 0.4rem;
}

/* ---------------- */
.sec1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 500px 50px 500px;
  gap: 20px;
}

/* 最後のセクションでscrollTriggerが発火しないバグ */
.sec-last {
  scroll-margin-top: -10px;
}
.sec6 {
  height: calc(100vh + 10px);
}

/* .sec1 {
  background-color: #fff;
}
.sec2 {
  background-color: rgb(158, 158, 158);
}
.sec3 {
  background-color: rgb(103, 103, 103);
}
.sec4 {
  background-color: rgb(63, 63, 63);
} */

.bg-pic {
  background-image: url(./images/first-view.jpg);
  background-size: cover;
}

.text-ver {
  right: 0%;
  color: white;
  writing-mode: vertical-rl;
  font-size: var(--text_size_ex_large);
  border-right: 7px solid;
}

.text-ver2 {
  color: white;
  writing-mode: vertical-rl;
  display: inline-block;
  font-size: var(--text_size_ex_large);
  border-right: 7px solid;
  margin-right: 50px;
}

.mouse-stalker {
  position: fixed;
  z-index: 10; /* 一番上のレイヤーに */
  pointer-events: none; /* マウスイベントの邪魔にならないように */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffd700;
  /* ストーカーDOMの中心をマウス座標に */
  top: -15px;
  left: -15px;
  transition: transform 0s ease-out;
}

.mouse-stalker.is_active {
  top: -40px;
  left: -40px;
  width: 80px;
  height: 80px;
  transition: 0.2s;
  background: rgba(255, 90, 95, 0.5);
}

body {
  cursor: none;
}

.sec2 {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  top: 5px;
  position: relative;
}

.sec2 h2 {
  top: 0%;
  font-size: var(--text_size_ex_large);
  color: #f44336;
  z-index: 2;
}

.sec2 p {
  font-size: var(--text_size_ex_small);
  z-index: 2;
}

.back-text {
  position: absolute;
  width: 100%;
  height: 206px;
  left: 0%;
  top: 20%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 170px;
  line-height: 206px;
  z-index: 1;
  color: rgba(238, 124, 124, 0.1);
}

.sec3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  position: relative;
}

.point-text-1 {
  padding-left: 18%;
}

.point-text-1 h1 {
  font-size: var(--text_size_medium);
  border-left: 10px solid #f44336;
  font-family: "Noto Sans JP";
  /* padding-left: 1%; */
}

.point-text-1 p {
  font-size: var(--text_size_ex_small);
  line-height: 40px;
  margin-top: 38px;
}

.picture-sec3 {
  width: 790px;
  height: 400px;
  padding-right: 10%;
}

.sec4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
}

.point-text-2 {
  padding-right: 18%;
}

.point-text-2 h1 {
  font-size: var(--text_size_medium);
  border-left: 10px solid #f44336;
  font-family: "Noto Sans JP";
}

.point-text-2 p {
  font-size: var(--text_size_ex_small);
  line-height: 40px;
  margin-top: 38px;
}

.picture-sec3 {
  width: 790px;
  height: 400px;
  padding-left: 10%;
}

.sec5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  position: relative;
}

.point-text-3 {
  padding-left: 18%;
}

.point-text-3 h1 {
  font-size: var(--text_size_medium);
  border-left: 10px solid #f44336;
  font-family: "Noto Sans JP";
}

.point-text-3 p {
  font-size: var(--text_size_ex_small);
  line-height: 40px;
  margin-top: 38px;
}

.picture-sec3 {
  width: 790px;
  height: 400px;
  padding-right: 10%;
}

.box {
  width: 50px;
  height: 50px;
  background: #6fb936;
  border-radius: 10px;
}

.back-text-1 {
  position: absolute;
  width: 100%;
  bottom: -100%;
  left: 0%;
  /* margin-left: -850px; */
  /* top: 20%; */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 170px;
  line-height: 206px;
  z-index: 1;
  color: rgba(238, 124, 124, 0.1);
}

.back-text-2 {
  position: absolute;
  width: 100%;
  bottom: -100%;
  text-align: end;
  /* margin-left: -850px; */
  /* top: 20%; */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 170px;
  line-height: 206px;
  z-index: 1;
  color: rgba(238, 124, 124, 0.1);
}

.back-text-3 {
  position: absolute;
  width: 100%;
  bottom: -100%;
  text-align: start;
  /* margin-left: -850px; */
  /* top: 20%; */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 170px;
  line-height: 206px;
  z-index: 1;
  color: rgba(238, 124, 124, 0.1);
}

.bg-pic-last {
  width: 100%;
  height: 100%;
  background-image: url(./images/first-view.jpg);
  background-size: 100% 70%;
  background-repeat: no-repeat;
}

.dow_text {
  font-size: var(--text_size_large);
  width: 100%;
  text-align: center;
}

.onpic-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 57px;
}

.dow-img {
  width: 175px;
  height: 52px;
}

.flex-2 {
  display: flex;
  justify-content: center;
  gap: 30px;
}
